/* 향수 상세 정보 스타일 */
.perfume-detail {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.perfume-image {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}
.perfume-header {
    position: relative;
    margin-bottom: 1rem;
}
.admin-buttons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}
.info-section, .notes-section {
    background-color: #f8f9fa;
    padding: 1.5rem;
    border-radius: 8px;
    height: 100%;
}
.info-item, .note-item {
    margin-bottom: 1rem;
}
.info-label, .note-label {
    font-weight: 600;
    color: #495057;
    margin-bottom: 0.5rem;
}
.info-value, .note-value {
    color: #6c757d;
}
.perfume-title {
    margin-bottom: 1.5rem;
}

#perfume-image{
    height: 250px;
}

.perfume-name {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

.perfume-brand {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.perfume-info {
    margin-top: 2rem;
}

/* 노트 구성 스타일 */
.perfume-notes {
    background-color: #f8f9fa;
    padding: 1.5rem;
    border-radius: 8px;
}

.perfume-notes h4 {
    color: #333;
    margin-bottom: 1rem;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .perfume-detail {
        padding: 1rem;
    }

    .perfume-name {
        font-size: 2rem;
    }

    .perfume-notes {
        margin-top: 2rem;
    }
}