<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.todayperfume.note.mapper.NotesMapper">
    <select id="findNotesListAll" resultType="com.edu.todayperfume.note.dto.NotesDto">
        SELECT id, name
        FROM NOTES
    </select>

    <select id="findNotesListByType" resultType="com.edu.todayperfume.note.dto.NotesDto">
        SELECT n.id, n.name
        FROM NOTES n LEFT JOIN TYPE t ON n.type = t.id
        WHERE t.id in (${typeId1}, ${typeId2})
    </select>
</mapper>