<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.todayperfume.review.mapper.ReviewMapper">
  <select id="findReviewListAllOrderByCreatedAt" resultType="com.edu.todayperfume.review.dto.ReviewDto">
    SELECT id, content, rate, writer, perfumeId, TO_CHAR(createdAt, 'YYYY-MM-DD HH24:MI:SS') as createdAtStr
    FROM REVIEW
    WHERE perfumeId = ${perfumeId}
    ORDER BY createdAt DESC
  </select>

  <insert id="createReview">
    INSERT INTO REVIEW(perfumeId, content, rate, writer, createdAt)
    VALUES (#{reqDto.perfumeId}, #{reqDto.content}, #{reqDto.rate}, #{writer}, SYSDATE)
  </insert>

  <delete id="deleteReview">
    DELETE FROM REVIEW WHERE id = ${id}
  </delete>

  <select id="findReviewById" resultType="com.edu.todayperfume.review.dto.ReviewDto">
    SELECT id, content, rate, writer, perfumeId, TO_CHAR(createdAt, 'YYYY-MM-DD HH24:MI:SS') as createdAtStr
    FROM REVIEW
    WHERE id = ${id}
  </select>
</mapper>