<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.todayperfume.user.mapper.UserMapper">
    <select id="save"
            parameterType="com.edu.todayperfume.user.dto.UserRequestDto"
            resultType="com.edu.todayperfume.user.dto.UserDto">
        INSERT INTO USER (id, password, isDeleted, userType)
        VALUES (#{id}, #{password}, 0,'MEMBER')
    </select>

    <select id="findById" parameterType="string" resultType="com.edu.todayperfume.user.dto.UserDto">
        SELECT
        u.id,
        u.password,
        u.isDeleted,
        u.userType,
        TO_CHAR(h.createdAt, 'YYYY-MM-DD HH24:MI:SS') as createdAtStr,
        TO_CHAR(h.updatedAt, 'YYYY-MM-DD HH24:MI:SS') as updatedAtStr,
        FROM USER u
        LEFT JOIN HISTORY h ON u.id = h.entityId and entityName = 'USER'
        WHERE id = #{id}
    </select>

    <select id="findByIdAndPassword" parameterType="string" resultType="com.edu.todayperfume.user.dto.UserDto">
        SELECT
        id,
        password,
        isDeleted,
        userType,
        TO_CHAR(h.createdAt, 'YYYY-MM-DD HH24:MI:SS') as createdAtStr,
        TO_CHAR(h.updatedAt, 'YYYY-MM-DD HH24:MI:SS') as updatedAtStr,
        FROM USER u
        LEFT JOIN HISTORY h ON u.id = h.entityId and entityName = 'USER'
        WHERE id = #{id}
        AND password = #{password}
    </select>

    <update id="updatePassword">
        UPDATE USER SET password = #{password} WHERE id = #{id}
    </update>

    <update id="updateIsDeleted">
        UPDATE USER SET isDeleted = 1 WHERE id = #{id}
    </update>
</mapper>